.nav.navbar-nav li a{
    color: White;
    font-size: 14pt;
}
.navbar-brand a{
    color: White;
}
.navbar{
    background-color: rgba(35, 35, 50, 0.9);
}
.nav.navbar-nav li a:hover{
    background-color: rgba(255,255,255, 0.5);
    font-size: 14pt;
}
.header{
    height: 400px;
    background-image: url(Images/HeaderPT.png);
}
