.nav.navbar-nav li a{
    color: White;
    font-size: 14pt;
}
.navbar-brand a{
    color: White;
}
.navbar{
    background-color: rgba(35, 35, 50, 0.9);
    position: absolute;
}
.nav.navbar-nav li a:hover{
    background-color: rgba(255,255,255, 0.5);
    font-size: 14pt;
}
.header{
    margin-top: 27pt;
    background-color: rgb(34, 142, 189);
}
.hid{
    float: right;
    background-color: rgb(34, 142, 189);
    border: none;
}
