html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

body{
    background-image: url(Images/TUe.png);
    height:100%;
    background-size: cover;
}

.StudyBut{
    background-color: rgba(255,255,255, 0.5);
    color: darkslategray;
    font-size: 20px;
    padding: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #fff;
}

.StudyButs{
    text-align: center;
    position: relative;
    top: 30%;
}

li{
    display:  inline-block;
}

.text_header{
    position: relative;
    font-size: 30px;
}

.logo{
    border-right-color: White;
    margin: 5px;
    border-right-style: solid;
    width: 30px;
}
.menu{
    list-style: none;
    display: inline-block;
    position: absolute;
}
.NaviBar{
    height: auto;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 999;
}
.NaviBar li {
    display: inline-block;
    color: slategray;
    text-align: left;
    font-family: sans-serif;
}
.logo{
    width: 50px;
    margin-right: 0px;
    border-right-style: solid;
    border-right-color: slategrey;
}
.subNavi{
    margin-right: 10px;
    top: 100px;
}
